@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

.background {
    background: url(../../assests/duki-concierto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}